{
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "tailwindStylesheet": "./src/style.css",
  "tailwindFunctions": ["create", "addClass", "removeClass", "toggleClass"],
  "plugins": ["prettier-plugin-tailwindcss"]
}